# SDK-nrf-specific OpenThread stack features for selection

# Copyright (c) 2025 Nordic Semiconductor ASA
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause

choice OPENTHREAD_STACK_VERSION

config OPENTHREAD_THREAD_VERSION_1_5_PREVIEW
	bool "Version 1.5-preview"
	select OPENTHREAD_PREVIEW

endchoice # OPENTHREAD_STACK_VERSION

if OPENTHREAD_THREAD_VERSION_1_5_PREVIEW

config OPENTHREAD_THREAD_VERSION
	default "1.5-preview"

config OPENTHREAD_UPTIME
	default y if OPENTHREAD_FTD || OPENTHREAD_MTD

endif # OPENTHREAD_THREAD_VERSION_1_5_PREVIEW

choice OPENTHREAD_PSA_NVM_BACKEND
	prompt "Backend to store persistent crypto materials"
	default OPENTHREAD_PSA_NVM_BACKEND_ITS
	depends on OPENTHREAD_CRYPTO_PSA

config OPENTHREAD_PSA_NVM_BACKEND_ITS
	bool "Use Internal Trusted Storage (ITS) for storing crypto materials."
	depends on OPENTHREAD_CRYPTO_PSA
	help
	  Store cryptographic materials in the PSA ITS.
	  The PSA ITS location depends on the ITS configuration.

config OPENTHREAD_PSA_NVM_BACKEND_KMU
	bool "Use CRACEN KMU driver for storing crypto materials [EXPERIMENTAL]."
	depends on PSA_NEED_CRACEN_KMU_DRIVER
	select EXPERIMENTAL
	help
	  Store cryptographic materials in the Key Management Unit space instead of PSA ITS.
	  The materials will be used by CRACEN driver.
	  KMU slots range is defined as <OPENTHREAD_KMU_SLOT_START, OPENTHREAD_KMU_SLOT_END).
	  Keys are not encrypted in KMU.

endchoice # OPENTHREAD_PSA_NVM_BACKEND

config OPENTHREAD_PSA_ITS_NVM_OFFSET
	hex "Offset of IDs for OpenThread keys stored in the PSA ITS."
	default 0x20000
	help
	  The offset value in the PSA ITS non-volatile space is dedicated to OpenThread
	  key reference IDs. This offset must not overwrite any other ranges already in
	  use within the PSA ITS non-volatile space.

config OPENTHREAD_PSA_ITS_NVM_MAX_KEYS
	int "Maximum ITS key reference amount to be assigned"
	default 20
	help
	  The maximum ITS key reference amount that can be assigned for OpenThread crypto
	  materials.

if OPENTHREAD_PSA_NVM_BACKEND_KMU

config OPENTHREAD_KMU_SLOT_START
	int "OpenThread crypto materials KMU slot range start"
	default 80
	help
	  The first KMU slot number under which the OpenThread crypto materials will be stored.
	  The range defined by OPENTHREAD_KMU_SLOT_START must not overlap any other KMU slot
	  range defined within the application. The slot amount dedicated for OpenThread is
	  defined in the crypto_psa_key_allocator and can be modified according to changes in
	  the OpenThread stack.

endif # OPENTHREAD_PSA_NVM_BACKEND_KMU

###### Thread 1.5 ######
# These kconfigs will be put in the Zephyr OpenThread features file during the upmerge.

config OPENTHREAD_BORDER_AGENT_MESHCOP_SERVICE
	bool "Border agent MeshCoP service"
	default y
	depends on OPENTHREAD_MULTICAST_DNS
	help
	  Enable the Border Agent to manage registering/updating of the mDNS MeshCoP
	  service(s) on the infrastructure link.

config OPENTHREAD_BORDER_AGENT_TRACKER
	bool "Border agent tracker"
	depends on OPENTHREAD_BORDER_AGENT
	help
	  Enable tracking of border agents in the Thread network.

config OPENTHREAD_BORDER_AGENT_TXT_DATA_PARSER
	bool "Border agent TXT data parser"
	depends on OPENTHREAD_BORDER_AGENT
	help
	  Enable parsing of TXT record data for border agents.

config OPENTHREAD_BORDER_AGENT_SERVICE_NAME
	string "Border agent service base name"
	default "OpenThread BR [Nordic Semiconductor ASA]"
	depends on OPENTHREAD_BORDER_AGENT_MESHCOP_SERVICE
	help
	  Specifies the base name to construct the service instance name used
	  when advertising the mDNS _meshcop._udp service by the Border Agent.

config OPENTHREAD_BORDER_ROUTING_DHCP6_PD_CLIENT
	bool "DHCPv6-PD client"
	help
	  Enable the the Border Router's built-in OpenThread DHCPv6 Prefix Delegation
	  (PD) client feature.

config OPENTHREAD_BORDER_ROUTING_DHCP6_PD_MIN_LIFETIME
	int "Minimum lifetime for DHCPv6-PD in seconds"
	default 1800 # 30 minutes
	depends on OPENTHREAD_BORDER_ROUTING_DHCP6_PD_CLIENT
	help
	  Set the minimum lifetime for DHCPv6 Prefix Delegation in seconds.

config OPENTHREAD_BORDER_ROUTING_MULTI_AIL_DETECTION
	bool "Multiple AIL detection for border routers"
	help
	  Enable detection of multiple Active Infrastructure Link (AIL)
	  interfaces for border routers.

config OPENTHREAD_CHANNEL_MONITOR_AUTO_START
	bool "Start channel monitor with interface"
	default y
	help
	  Start the Channel Monitor automatically when the Thread network interface is brought
	  upand stop it when it is brought down.

config OPENTHREAD_DNS_CLIENT_BIND_UDP_THREAD_NETIF
	bool "Bind DNS client socket to Thread netif"
	depends on OPENTHREAD_DNS_CLIENT
	help
	  Bind DNS client UDP socket to the internal Thread network interface.
	  When set to 0, the socket is bound to the unspecified network interface,
	  allowing it to send and receive DNS messages over any network interface.

config OPENTHREAD_MDNS_VERBOSE
	bool "mDNS verbose logging"
	help
	  Enable verbose logging for multicast DNS operations.
	  When this feature is enabled, verbose logging can be dynamically turned on or
	  off at run-time using `otMdnsSetVerboseLoggingEnabled()`

config OPENTHREAD_MDNS_VERBOSE_STATE
	bool "mDNS verbose state on start"
	depends on OPENTHREAD_MDNS_VERBOSE
	help
	  Defines the default run-time state of mDNS verbose logging (turned on/off) on startup.

config OPENTHREAD_P2P
	bool "Peer to peer"
	help
	  Enable peer-to-peer communication functionality.

config OPENTHREAD_PLATFORM_DNSSD
	bool "Platform DNS-SD"
	help
	  Enable platform-specific DNS-SD (Service Discovery) support.

config OPENTHREAD_SRP_SERVER_FAST_START_MODE
	bool "SRP server fast start mode"
	depends on OPENTHREAD_SRP_SERVER
	help
	  The Fast Start Mode is designed for scenarios where a device, often a mobile device,
	  needs to act as a provisional SRP server (e.g., functioning as a temporary Border Router).
	  The SRP server function is enabled only if no other Border Routers (BRs) are already providing
	  the SRP service within the Thread network. A common use case is a mobile device joining a Thread
	  network where it may be the first, or only, BR. Importantly, Fast Start Mode allows the device to
	  quickly start its SRP server functionality upon joining the network, allowing other Thread devices
	  to quickly connect and register their services without the typical delays associated with standard
	  Border Router initialization (and SRP server startup).

config OPENTHREAD_STEERING_DATA
	bool "MeshCoP Steering Data APIs"
	help
	  Enable the MeshCoP Steering Data APIs for commissioner functionality.

config OPENTHREAD_TREL_MANAGE_DNSSD
	bool "TREL to manage DNS-SD and peer discovery"
	depends on OPENTHREAD_TREL
	help
	  Enable the OpenThread core TREL implementation to directly manage mDNS (DNS-SD)
	  service registration and peer discovery (browse and service/address resolution
	  of TREL service for TREL peer discovery).
	  When this feature is disabled, the mDNS (DNS-SD) functions are delegated to
	  the platform layer.

config OPENTHREAD_SPINEL_CP_RESET_FAIL_CALLBACK
	bool "CP reset failure callback"
	help
	  Enables Co-processor reset failure callback in Spinel driver

config OPENTHREAD_LOG_MAX_SIZE
	int "Maximum log string size"
	default 1024
	help
	  The maximum log string size (number of chars).

config OPENTHREAD_RCP_TIME_SYNC_INTERVAL
	int "Host-RCP time sync interval in microseconds"
	default 600000000 # 60 seconds
	help
	  This setting configures the interval (in units of microseconds) for host-rcp
	  time sync. The host will recalculate the time offset between host and RCP
	  every interval.
